.guestsCounter {
  &__total {
    text-align: center;
  }
}

.counter {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-size: 1rem !important;
    all: unset;
    padding: 5px;
    width: 40px;
    height: 20px;
    background: none;
    border: none;
    outline: none;

    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    &.MuiButton-root {
      width: 30px;
      min-height: 30px;
      border-radius: 50%;
      min-width: 30px;
    }
  }
}
