.choices-list {
  display: flex;
  flex-direction: column;
}

.choice-component {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__description {
    font-size: 0.1rem;
  }

  &__text {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
