.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  &__single-star {
    position: relative;
  }

  &__filling-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }

  &__outline {
    position: absolute;
    width: 100% !important;
    height: auto !important;
  }
}
